<launch>

  <!-- Load joint controller configurations from YAML file to parameter server -->
  <rosparam file="$(find MYROBOT_control)/config/ar_model_control.yaml" command="load"/>

  <!-- convert joint states to TF transforms for rviz, etc -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"
    respawn="false" output="screen">
    <remap from="/joint_states" to="/ar_model/joint_states" />
  </node>

</launch>